<div>
  <div class="flex flex-wrap">
    <% @posts.each do |post| %>
      <div class="w-1/4 p-4">
        <%= link_to post_path(post) do %>
          <%= image_tag post.image, class: "w-full h-auto mb-4", style: "max-height: 300px;" %>
        <% end %>
        <p><%= "#{post.brand}, #{post.model}" %></p>
      </div>
    <% end %>
  </div>
</div>
